.footer {
  display: flex;
  align-items: flex-end;
  margin: -0.5rem -3.5rem;
  position: relative;
  margin-top: -7rem;
  height: 3vh;
  background-color: transparent;
}
.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(0, 0, 0);
}


@media screen and (max-width: 480px){
  .f-content{
    transform: scale(.5);
  }
}
